
header {
  text-align: center;

  /* background-color: rgb(19, 79, 65); */
  background-color: rgb(19, 79, 80);
  /* background-color: rgb(45, 80, 69); */
  /* background-color: rgb(53, 94, 87); */

  height: 65px;
  color: yellow;
  padding: 25px;
  box-shadow: 3px 3px 3px rgb(40, 40, 40);
}

header h1 {
  margin-top: 0;
  font-size: 55px;
  text-shadow: 2px 2px 2px rgb(40, 40, 40);
  text-decoration: underline;
  letter-spacing: 2px;
}

.App {
  display: flex;
  flex-direction: column;
}
